.pickerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  mask-image: linear-gradient(
    to top,
    transparent,
    transparent 5%,
    white 20%,
    white 80%,
    transparent 95%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to top,
    transparent,
    transparent 5%,
    white 20%,
    white 80%,
    transparent 95%,
    transparent
  );
}

.pickerColumn {
  flex: 1 1 0%;
  max-height: 100%;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
  touch-action: none;
  user-select: none;
}
.movingPickerColumn {
  transition-duration: 0ms;
}

.pickerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
